#root {
  margin: 0 auto;
  padding: 2rem;
  
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: rgb(11, 25, 51);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  height: 100%;
}

main {
  background-color: rgb(241, 241, 241);
  height: 500px;
  max-height: 600px;
  width: 500px;
  display: block;
  border-radius: 10px;
}

.flex-container{ 
  margin-top: 200px;
  height: 100px;
  border-top: 100px;
  display: inline-grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  row-gap: 20px;
  column-gap: 20px;
}

button {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  height: 50px;
  box-shadow: 0px 3px 2px rgb(139, 139, 139);
  text-decoration: solid;
  font-weight:bold;
  cursor: pointer;
}

button.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
}